@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Cabin', sans-serif;
  background-color: black;
}

body {
  margin: 0;
  color: white;
  height: 100vh;
}

input[type="search"] {
  appearance: none;
  font: inherit;
  margin: 0;
  padding: 0 20px;
  border-radius: 15px;
  line-height: 30px;
  /* height: 20px; */
  border: none;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 80px 1fr;
}

.container > div {
  padding: 10px;
  background-color: black;
}

.container .header {
  grid-column: 2 / 4;
  padding: 10px 40px 0 40px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.header h1 {
  width: 30%;
  margin: 0px;
  padding: 10px;
}

.header .profile-switcher {
  margin-left: auto;
}

.container .sidebar,
.main-content > div {
  background-image: linear-gradient(to bottom right, #222222, #000000);
}

.container .sidebar {
  height: 100%;
  padding-top: 0;
  border-right: 1px solid rgb(57, 57, 57);
  grid-column: 1;
  grid-row: 1 / 4;
  display: grid;
  grid-template-rows: 80px 1fr 80px;
}

.sidebar .logo {
  align-self: center;
}

.sidebar div {
  padding: 10px 0;
  height: min-content;
  align-self: center; 
  text-align: center;
}

.container .main-content {
  grid-column: 2 / 4;
  grid-row: 2 / 5;
  padding-left: 40px; 
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 450px));
  grid-template-rows: 200px repeat(3, minmax(150px, 1fr));
}

.main-content > div {
  padding: 20px;
  margin: 10px;
  border: 1px solid rgb(57, 57, 57);
  border-radius: 8px;
}

.main-content > .doughnut {
  grid-column: 1 / 5;
  display: grid;
  grid-template-rows: 15% 1fr;
  grid-template-columns: repeat(4, minmax(20px, 1fr));
  column-gap: 30px;
}
.doughnut > .label {
  grid-row: 1;
}
.doughnut .projects-info {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-content: center;
  align-items: center;
}
.doughnut .projects-count {
  font-size: 4rem;
}
.doughnut .projects-desc {
  display: block;
  color: grey;
  grid-column: 2;
}
.doughnut .projects-desc .icon {
  display: block;
}
.doughnut .doughnut1-container {
  position: relative;
  height: 99%;
  width: 99%;
  grid-column: 2;
  grid-row: 2;
}
.bottom-data .bg1-container {
  min-width: 0;
  position: relative;
  height: 99%;
  width: 99%;
  grid-row: 2;
  grid-column: 3;
}

.main-content .proj1 {
  grid-row: 2;
  grid-column: 1 / 3;
  display: grid;
  grid-template-rows: 15% 1fr;
  grid-template-columns: 1fr 1fr;
}

.main-content .proj3 {
  grid-row: 3;
  grid-column: 1 / 3;
  display: grid;
  grid-template-rows: 15% 1fr;
  grid-template-columns: 1fr 1fr;
}

.main-content .proj2 {
  grid-row: 2 / 4;
  grid-column: 3;
  display: grid;
  grid-template-rows: 15% 1fr;
  grid-template-columns: 1fr 1fr;
}

.main-content .proj1 > .label {
  grid-row: 1;
}
.main-content .proj1 img,
.main-content .proj2 img,
.main-content .proj3 img {
  grid-row: 2;
  grid-column: 1 / 2;
  display: block;
  border-radius: 8px;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  /* overflow: hidden; */
}
.main-content .proj2 img {
  border-radius: 1px;
}

.main-content .bg1-container {
  grid-column: 1 / 4;
  grid-row: 4;
  display: grid;
  grid-template-rows: 15% 1fr;
}

.main-content .line-graphs {
  grid-column: 4;
  grid-row: 2 / 5;
}

.bar-graphs:first-child {
  grid-row: 1;
}


